node_modules

# Node
node_modules/
dist/
build/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# NestJS
coverage/
logs/
*.log

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Supabase
.supabase/
supabase/.temp/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
# Android (extra generated/local files)
android/local.properties
.gradle/
**/.cxx/
android/.cxx/
*.iml
.kotlinc/
*.keystore

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.local
*.tmp
*.swp